{:paths ["src" "test"]
 :deps
 {binaryage/devtools  {:mvn/version "1.0.4"}
  binaryage/oops      {:mvn/version "0.7.1"}
  girouette/girouette {:mvn/version "0.0.6"}
  lilactown/helix     {:mvn/version "0.1.5"}}
 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.16.6"}}}
  :girouette-processor
  {:extra-deps
   {girouette/processor {:mvn/version "0.0.5"}}
   :ns-default girouette.processor
   :exec-fn    process
   :exec-args
   {:css
    {:output-file      "./public/static/css/main.css"
     :retrieval-method :annotated}
    :color? false}}}}
