{:deps
 {:aliases [:cljs]}
 :http
 {:port 9000}
 :dev-http
 {9010
  {:root "public"}}
 :builds
 {:{{artifact/id}}
  {:target     :browser
   :output-dir "public/static/js"
   :asset-path "/static/js"
   :modules
   {:{{artifact/id}}
    {:init-fn {{raw-name/ns}}.app/init}}
   :devtools
   {:after-load {{raw-name/ns}}.app/start}}
  :ci
  {:target    :karma
   :output-to "target/ci.js"}
  :test
  {:target   :browser-test
   :test-dir "target/test"
   :compiler-options
   {:output-feature-set :es-next}
   :devtools
   {:http-port 9999
    :http-root "target/test"}}}}
