{:paths ["src" "test"]
 :deps
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  org.clojure/clojurescript
  {:mvn/version "1.11.60"}
  binaryage/devtools
  {:mvn/version "1.0.7"}
  binaryage/oops
  {:mvn/version "0.7.2"}
  girouette/girouette
  {:mvn/version "0.0.10"}
  lilactown/helix
  {:mvn/version "0.1.10"}}
 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.25.4"}}}
  :girouette-processor
  {:extra-deps
   {girouette/processor {:mvn/version "0.0.8"}}
   :ns-default girouette.processor
   :exec-fn    process
   :exec-args
   {:css
    {:output-file      "./public/static/css/main.css"
     :retrieval-method :annotated}
    :color?         false
    :base-css-rules [girouette.tw.preflight/preflight-v3_0_24]
    :garden-fn      girouette.tw.default-api/tw-v3-class-name->garden}}}}
